/*.log {
    position:fixed;
    width:400px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:9999;
    border: 1px solid #999;
    border-radius: 6px;
    background-color:#fff;
}

.content {
    width: 400px;
    height: 350px;
}

.logHeader {
    background-color: #FF8200;
    margin-bottom: 40px;
    height: 18%;
    padding-top: 10px;
    padding-right: 10px;
}

.logHeader > img {
    display: block;
    width: 45px;
    height: 45px;
    margin-left: 20px;
}

.logBody .input-group {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.logBody .forget {
    padding-left: 70%;
    margin-top: -15px;
    margin-bottom: 5px;
}

.logBody .forget a {
  cursor: pointer;
}

.logFooter {
    display: flex;
    width: 100%;
    justify-content: center;
}

.forgetEmail {
    width: 75%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
}
.remind {
    width: 75%;
    margin:  0 auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: #999;
}

.logFooter .btn {
    display: block;
    width: 60%;
    height: 40px;
    background-color: #FF8200;
    border: 1px solid #FF8200;
    font-size: 18px;
}

.change {
    width: 78%;
    margin: 0 auto;
    margin-bottom: 15px;
}*/
/*注册界面*/
.reset{
    position:fixed;
    width:400px;
    height: 485px;
    border: 1px solid #999;
    border-radius: 6px;
    z-index:9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    background-color: rebeccapurple;
}
.reset .content {
    width: 400px;
    height: 485px;
    background-color: red;
}

.resetHeader {
    background-color: #FF8200;
    margin-bottom: 25px;
    height: 60px;
    padding-top: 10px;
    padding-right: 10px;
}
.resetHeader > img {
    display: block;
    width: 45px;
    height: 45px;
    margin-left: 20px;
}

.resetBody .input-group {
    width: 78%;
    margin: 0 auto;
    margin-bottom: 22px;
}

.resetFooter {
    display: flex;
    width: 100%;
    justify-content: center;
}

.resetFooter .btn {
    display: block;
    width: 60%;
    height: 40px;
    background-color: #FF8200;
    border: 1px solid #FF8200;
    font-size: 19px;
}
